.nft-top{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(9,12,123,1) 80%);
}

.raleway-nft{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}